<div class="background">
    <div class="login-container">
      <div class="text-container">
        <h1>Olá Visitante</h1>
        <p>
            Quer criar uma conta incrível para acessar este aplicativo incrível? Vá em frente
            e clique no botão abaixo!
        </p>
        <button mat-button routerLink="/register">Criar conta</button>
      </div>
      <div class="form-container">
        <h1>Olá faça seu login</h1>
        <button class="mat-raised-button" (click)="loginWithGoogle()">
          Acessar com uma Conta da Google
        </button>
        <h5>Ou faça o login usando email</h5>
        <app-login-form (formData)="login($event)" labelButton='Acessar'></app-login-form>
      </div>
    </div>
  </div>